cleanup = true

params {
    outdir = 'QC'
    report_file     = "${launchDir}/pipeline_report.html"
    bamfiles        = null //bam manifest file: sample, bam
    fastp_json      = null //path to fastp json results
    samblaster_log  = null //path to samblaster logs
    vcffiles        = null //vcf manifest file: sample, vcf
    vcf_index_type  = 'csi' //csi or tbi
    mode            = 'WGS' //WGS or WES
    ped_file        = 'ped_file.ped'
    genome          = 'genome.fasta' //a .fai file must exist in the same location
    regions         = ''
    somalier_vars   = '' //VCF of somalier reference variants
    somalier_labels = '' //ancestry labels for 1kg sample 
    somalier_1kgdata = '' //path to a folder containing .somalier files for the 1000G data
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/project/alfredo/singularity"
}

report {
    enabled = true
    file = "${params.report_file}"
}

profiles {
    ht_cluster {
    workDir = "/scratch/$USER/nf-work"
        executor {
            name = 'slurm'
            queueSize = 200
            pollInterval = '1 min'
            queueStatInterval = '1 min'
            dumpInterval = '1 min'
            queue = 'cpuq'
        }
        process {
            withLabel: highcores {
                cpus = 24
                memory = '64G'
            }
            withLabel: midcores {
                cpus = 12
                memory = '48G'
            }
            withLabel: lowcores {
                cpus = 8
                memory = '32G'
            }
            withLabel: singlethread {
                cpus = 1
                memory = '16G'
            }
            withName: SAMTOOLS_STATS {
                module = 'samtools/1.15'
            }
            withName: 'SOMALIER.*' {
                module = 'somalier'
            }
            withName: COVERAGE {
                module = 'mosdepth:htslib-tools/1.14'
            }
            withName: MULTIQC {
                container = "${singularity.cacheDir}/multiqc_v1.12.sif"
            }
            withName: 'QC_RMD_SMALLVARS' {
                container = "${singularity.cacheDir}/vcf_qc_report_v1.sif"
            }
            withName: 'BCFTOOLS.*' {
                module = 'bcftools/1.15.1'
            }
        }
    }
}